$primary_color: #151818;
$secondary_color: #cfaa47;

//spazio usato per padding e margin
$spacing:20px;
$line_height:1.5;
$font_family: 'Railway', sans-serif;

$font_size: 14px;

$separator_color: rgba(0,0,0, 0.2);
$transition_duration: .3s;